<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="zcWtDDa1wMWUdiN-DwsRWnR6bV2iReoEAaLnG7_8-9A" />
    <title>Bay Wang</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- top navigation bar -->
    <header class="top-nav">
        <h1 class="logo">BAY WANG</h1>
        <nav class="nav-menu">
            <ul>
                <li><a href="{{ url_for('experience') }}">Experience</a></li>
                <li><a href="{{ url_for('education') }}">Education</a></li>
                <li><a href="{{ url_for('skills') }}">Skills</a></li>
                <li><a href="{{ url_for('projects') }}">Project</a></li>
                <li><a href="{{ url_for('background') }}">Background</a></li>
                <li><a href="{{ url_for('resume') }}">Download Resume</a></li>
            </ul>
        </nav>
    </header>

    <!--main -->
    <main class="content">
        <section class="hero-section">
            <div class="hero-content">
                <h1 class="fade-in-down">Welcome to My Profile</h1>
                <p class="fade-in-down">Developer | Creative Thinker</p>
                <a href="{{ url_for('background') }}#background" class="explore-btn">Explore</a>
            </div>
        </section>

        <section class="project">
            <h2>
                Hi, I'm Bay! 
                <img class="inline-icon" src="{{ url_for('static', filename='icons/hi.png') }}" alt="hi">
            </h2>
            <p><i>Welcome to my personal page...</i></p>
            <img src="{{ url_for('static', filename='images/IMG_2397.JPG') }}" class="hero-image" alt="Artwork">
        </section>
        

        <!-- Contact Section -->
        <footer class="contact-section">
            <h2>Contact</h2>
            <div class="social-icons">
                <a href="https://github.com/bayen0102/mywebsite" target="_blank">
                    <img src="{{ url_for('static', filename='icons/github.png') }}" alt="GitHub">
                </a>
                <a href="https://www.linkedin.com/in/bay-wang-300225235/" target="_blank">
                    <img src="{{ url_for('static', filename='icons/linkedin.png') }}" alt="LinkedIn">
                </a>
                <a href="https://www.instagram.com/bayenwang/" target="_blank">
                    <img src="{{ url_for('static', filename='icons/ig.png') }}" alt="Instagram">
                </a>
            </div>
        </footer>
        
        <!-- back to top bottom -->
        <button onclick="topFunction()" id="backToTop" title="Back to Top"></button>

    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>













